@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4D04E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Figtree;
    line-height: 150%;
}

.blog__card{
    background-color: #fff;
    max-width: 384px;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid #111;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    box-shadow: 8px 8px 0 #000;
}

.blog__img{
    width: 100%;
    border-radius: 10px;
}


/* blog content */

.blog__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.blog__content .category{
    background-color: #F4D04E;
    justify-self: start;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 4px;
    text-transform: capitalize;
}

.blog__content .publish_date{
    font-size: 14px;
}

.blog__content .title{
    font-size: 24px;
    transition: color 0.3s;
    cursor: pointer;
}

.blog__content .title:hover{
    color: #F4D04E;
}

.upper{
    text-transform: uppercase;
}

.blog__content .description{
    color: #6B6B6B;
    font-size: 16px;
}


/* blog author */

.blog__author{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.blog__author .avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.blog__author .name{
    font-size: 14px;
    text-transform: capitalize;
}

@media (max-width: 375px) {
    
    body{
        padding-inline: 24px;
    }
}